* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/************************/
body {
    margin: 30px;
}

/**********************************/
.list1 {
    margin: 50px 0 40px 320px;
    line-height: 20px;

}

.list1 li:nth-child(1) {
    text-decoration: line-through;
}

.list1 li:nth-child(2) {
    font-weight: 900;
}

.list1 li:nth-child(3) {
    font-style: italic;
}

.list1 li:nth-child(4) {
    text-transform: uppercase;
}

.list1 li {
    background: url('../project/css5/img/icons/li.svg') 0% 50% no-repeat;
    padding: 0 0 0 20px;
}

/***************************************************************************/
.list2 {
    margin: 0 0 40px 320px;
    line-height: 20px;

}

.list2 li {
    background: url('../project/css5/img/icons/li.svg') 0% 50% no-repeat;
    padding: 0 0 0 20px;
   

}

.list2 li :nth-child(2):hover {
  
    color: red;

}



.btn1 {
    background: url('../стрелка.png') 98% 50% no-repeat;
    background-size: 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(22, 184, 179) ;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    margin: 20px 0 0 350px;
    padding: 4px 15px;
    display: block;
}

.btn2 {
    background: url('../стрелка.png') 98% 50% no-repeat;
    background-size: 10px 10px;
    font-weight: 900;
    background-color: rgb(22, 184, 179) ;
    border-radius: 10px 10px 10px 10px;
    text-transform: uppercase;
    color: white;
    margin: -23px 0 0 520px;
    padding: 4px 15px;
    display: block;
    

}

.btn2:hover{
    background-color: rgb(61, 232, 112);
}

.btn3 {
    background: url('../стрелка.png') 98% 50% no-repeat;
    background-size: 10px 10px;
    text-transform: uppercase;
    color: white;
    font-weight: 900;
    background-color: rgb(22, 184, 179) ;
    border-radius: 10px 10px 10px 10px;
    padding: 4px 15px;
    margin: -23px 0 0 700px;
    display: block;
   

}
.btn3:active {
    background-color: brown;
}
/**************************************/
.inputtext1{
    border: 1px solid #000;
    height: 30px;
	padding: 0 15px;
	font-size: 18px;
	width: 200px;
	margin: 40px 0 10px 340px;
}
.inputtext2{
    border: 1px solid #000;
    height: 30px;
	padding: 0 15px;
	font-size: 18px;
	width: 200px;
	margin: 40px 200px 10px 40px;
}
.inputtext2:focus{
    box-shadow:0 0 10px rgba(72, 241, 227, 0.8);
}